@import "tailwindcss";

:root {
  --background: #faf7eb;
  --foreground: #1b151e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ivory-mist-50: #faf7eb;
  --color-ivory-mist-100: #f5efd6;
  --color-ivory-mist-200: #ebdfad;
  --color-ivory-mist-300: #e0d085;
  --color-ivory-mist-400: #d6c05c;
  --color-ivory-mist-500: #ccb033;
  --color-ivory-mist-600: #a38d29;
  --color-ivory-mist-700: #7a6a1f;
  --color-ivory-mist-800: #524614;
  --color-ivory-mist-900: #29230a;
  --color-ivory-mist-950: #1d1907;

  --color-vintage-grape-50: #f3f0f4;
  --color-vintage-grape-100: #e7e1ea;
  --color-vintage-grape-200: #d0c4d4;
  --color-vintage-grape-300: #b8a6bf;
  --color-vintage-grape-400: #a089a9;
  --color-vintage-grape-500: #886b94;
  --color-vintage-grape-600: #6d5676;
  --color-vintage-grape-700: #524059;
  --color-vintage-grape-800: #372b3b;
  --color-vintage-grape-900: #1b151e;
  --color-vintage-grape-950: #130f15;

  --color-jungle-teal-50: #f0f4f3;
  --color-jungle-teal-100: #e1eae7;
  --color-jungle-teal-200: #c3d5ce;
  --color-jungle-teal-300: #a5c0b6;
  --color-jungle-teal-400: #88aa9e;
  --color-jungle-teal-500: #6a9585;
  --color-jungle-teal-600: #55776b;
  --color-jungle-teal-700: #3f5a50;
  --color-jungle-teal-800: #2a3c35;
  --color-jungle-teal-900: #151e1b;
  --color-jungle-teal-950: #0f1513;

  --color-pink-mist-50: #fbeaf0;
  --color-pink-mist-100: #f7d4e0;
  --color-pink-mist-200: #eeaac2;
  --color-pink-mist-300: #e67fa3;
  --color-pink-mist-400: #dd5584;
  --color-pink-mist-500: #d52a66;
  --color-pink-mist-600: #aa2251;
  --color-pink-mist-700: #80193d;
  --color-pink-mist-800: #551129;
  --color-pink-mist-900: #2b0814;
  --color-pink-mist-950: #1e060e;

  --color-powder-petal-50: #f9f1eb;
  --color-powder-petal-100: #f4e4d7;
  --color-powder-petal-200: #e9c8af;
  --color-powder-petal-300: #ddad88;
  --color-powder-petal-400: #d29160;
  --color-powder-petal-500: #c77638;
  --color-powder-petal-600: #9f5e2d;
  --color-powder-petal-700: #774722;
  --color-powder-petal-800: #502f16;
  --color-powder-petal-900: #28180b;
  --color-powder-petal-950: #1c1108;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b151e;
    --foreground: #faf7eb;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}